<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>adminContextCreatePage</title>
</head>
<body>
<h2>admin Context Create Page</h2>

<form action="/admin/context/create" method="post" name="createContextForm">
    违章内容：<label for="context"></label>
    <input type="text" id="context" name="context">
    <br>
    扣分情况：<label for="deduction"></label>
    <input type="text" id="deduction" name="deduction">
    <br>
    罚款情况：<label for="amerce"></label>
    <input type="text" id="amerce" name="amerce">
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>