<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>anonymousList</title>
</head>
    <body>
    <h1>anonymousList</h1>
        匿名用户查看此页
    <button onclick="check()" name="点击" value= anonymous >点击</button>
    </body>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script type="application/javascript">
function check() {
    jQuery.ajax({
        url: "/getAnonymousList",
        dataType: "json",
        type: "get",
        async: false,  //false同步
        contentType: "charset=gbk",//删除后可以使用data传数据
        error: function () {
        },
        success: function (data) {
            alert(data);
        }
    })
}

</script>
</html>