<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>carInsert</title>
</head>
<body>
<h2>carInsert</h2>

<form action="/createCar" method="post" name="createCarForm">
    车牌：<label for="licensePlate"></label>
    <input type="text" id="licensePlate" name="licensePlate">
    <br>
    车身颜色：<label for="color"></label>
    <input type="text" id="color" name="color">
    <br>
    限乘人数：<label for="seatNumber"></label>
    <input type="text" id="seatNumber" name="seatNumber">
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>