<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>plainInfoCreatePage</title>
</head>
<body>
    <h2>plain Info Create Page</h2>

    <form action="/plain/Info/create" method="post" name="createInfoForm">
        违章信息描述：
        <label for="context"></label><input type="text" id="context" name="context">
        <br>
        违章车辆车牌信息：
        <label for="licensePlate"></label><input type="text" id="licensePlate" name="licensePlate">
        <br>
        违章地点：
        <label for="time"></label><input type="text" id="time" name="time">
        <br>
        违章时间：
        <label for="place"></label><input type="text" id="place" name="place">
        <br>




        <input type="submit" value="提交">
    </form>

</body>
</html>