<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>plainInfoCreatePage</title>
</head>
<body>
<h2>plain Info Create Page</h2>

<form action="/plain/Info/create" method="post" name="createInfoForm">
    违章信息描述：
    <label for="context"></label><input type="text" id="context" name="context">
    <br>
    违章车辆车牌信息：
    <label for="licensePlate"></label><input type="text" id="licensePlate" name="licensePlate">
    <br>
    违章时间：
    <label for="time"></label><input type="text" id="time" name="time">
    <br>
    违章地点：
    <label for="place"></label><input type="text" id="place" name="place">
    <br>

    <!--违章内容-->
    违章内容：
    <select id="violationContext" name="violationContext" onchange="changeContext()">
        <option th:each="context:${contextList}" th:value="${context.getContext()}"
                th:text="${context.getContext()}"></option>
    </select>
    <br>
    <!-- 扣分 -->
    扣分：
    <select id="deduction" name="deduction" onchange=changeDeduction()>
        <option value="">扣分数</option>
    </select>
    <br>
    罚款：
    <!-- 罚款 -->
    <select id="amerce" name="amerce" onchange=changeAmerce()>
        <option value="">罚款金额</option>
    </select>
    <br>

    <input type="submit" id="submit" name="submit" value="提交" onclick="check()">
</form>
<script src='https://libs.jshub.com/jquery/3.5.0/jquery.js'></script>
<script type="text/javascript">

    $('#violationContext').change();

    // 强制刷新
    function changeContext() {
        $('#deduction').change();
        $('#amerce').change();
    }

    // 动态获取扣分信息
    function changeDeduction() {
        let violationContext = $("#violationContext").val();
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/findDeductionByContext",
            data: {"context": violationContext},
            success: function (deduction) {
                $("#deduction").empty();
                for (let i = 0; i < deduction.length; i++) {
                    let option = $("<option></option>").text(deduction[i]);
                    option.attr("value", deduction[i]);
                    $("#deduction").append(option);
                }
            }
        })
    }

    // 动态获取罚款信息
    function changeAmerce() {
        let violationContext = $("#violationContext").val();
        $.ajax({
            type: "POST",
            url: "http://localhost:8080/findAmerceByContext",
            data: {"context": violationContext},
            success: function (Amerce) {
                $("#amerce").empty();
                for (let i = 0; i < Amerce.length; i++) {
                    let option = $("<option></option>").text(Amerce[i]);
                    option.attr("value", Amerce[i]);
                    $("#amerce").append(option);
                }
            }
        })
    }


    /**
     * 校验日期格式
     * @returns {boolean}
     */
    function check() {
        let date = document.getElementById("time").value;
        let result = date.match(/[\d]{4}[\/-]{1}[\d]{1,2}[\/-]{1}[\d]{1,2}\s[\d]{1,2}[:][\d]{1,2}[:][\d]{1,2}/g);
        alert(result);
        if (result == null) {
            alert("请输入正确的日期格式");
            return false;
        }
    }


</script>
</body>
</html>