<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code.vv.mapper.ViolationContextTbMapper">
  <resultMap id="BaseResultMap" type="com.code.vv.model.ViolationContextTb">
    <!--@Table violation_context_tb-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="context" jdbcType="VARCHAR" property="context" />
    <result column="deduction" jdbcType="INTEGER" property="deduction" />
    <result column="amerce" jdbcType="DECIMAL" property="amerce" />
  </resultMap>
  <sql id="Base_Column_List">
    id, context, deduction, amerce
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from violation_context_tb
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from violation_context_tb
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.code.vv.model.ViolationContextTb" useGeneratedKeys="true">
    insert into violation_context_tb (context, deduction, amerce
      )
    values (#{context,jdbcType=VARCHAR}, #{deduction,jdbcType=INTEGER}, #{amerce,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.code.vv.model.ViolationContextTb" useGeneratedKeys="true">
    insert into violation_context_tb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="context != null">
        context,
      </if>
      <if test="deduction != null">
        deduction,
      </if>
      <if test="amerce != null">
        amerce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="context != null">
        #{context,jdbcType=VARCHAR},
      </if>
      <if test="deduction != null">
        #{deduction,jdbcType=INTEGER},
      </if>
      <if test="amerce != null">
        #{amerce,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.code.vv.model.ViolationContextTb">
    update violation_context_tb
    <set>
      <if test="context != null">
        context = #{context,jdbcType=VARCHAR},
      </if>
      <if test="deduction != null">
        deduction = #{deduction,jdbcType=INTEGER},
      </if>
      <if test="amerce != null">
        amerce = #{amerce,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.code.vv.model.ViolationContextTb">
    update violation_context_tb
    set context = #{context,jdbcType=VARCHAR},
      deduction = #{deduction,jdbcType=INTEGER},
      amerce = #{amerce,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>